$primary: #5265E1;
$secondary: #FA5959;

.container{
    max-width: 1200px;
}

.body{
    align-items: center;
}

.forma{

    
    border-radius:500px;
    width: 800px; 
    height: 400px; 
    background: $primary;
    position: absolute;
    top:300px;
    right: -350px;
    z-index: -1;
}


@import "./node_modules/bootstrap/scss/bootstrap.scss";
